.custom-tablist {
    display: flex;
    background-color: #F3F4F6;
    padding: 10px;
    border-radius: 5px;
    color: #8A8F9A;
  }
  
  .custom-tablist .react-tabs__tab {
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 5px;
  }

  .custom-tablist .react-tabs__tab:hover{
    color: #000;
  }
  

  .custom-selected-tab{
    background-color: #000;
    color: white;
    padding: 12px 20px;
    border-radius: 25px;
  }

.view-button{
    background-color: #fff;
    padding:10px 20px;
    border-radius:20px;
    color: #222;
    font-size: 18px;
}